$btn-keys:(
	default : (

	),
	color : (

	)
);

// @mixin btn_styles($variables){
//
// 	&:hover{
//
// 	}
// }

// $btn-types: map_keys($btn-keys);
// @each $btn in $btn-types{
// 	$btn-class:'';
// 	@if $btn == default{
// 		$btn-class: '.button';
// 	}
// 	@else{
// 		$btn-class: '.button-#{$btn}';
// 	}
// 	#{$btn-class}{
// 		@include btn_styles((
// 			map-get($btn-keys, $btn)
// 		)...);
// 	}
// }