$import-keys:(
    keyname:(
        name:name,
        family:'family',
        source:path
    )
);

@mixin font-import($name, $family, $source){
    font-family:$family;
    src:url('../fonts/#{$name}/#{$source}.eot');
    src:url('../fonts/#{$name}/#{$source}.eot?#iefix') format('embedded-opentype'), url('../fonts/#{$name}/#{$source}.woff2') format('woff2'), url('../fonts/#{$name}/#{$source}.woff') format('woff'), url('../fonts/#{$name}/#{$source}.tff') format('truetype');
}

$import-types: map_keys($import-keys);
@each $font in $import-types{
  @font-face{
      @include font-import((
        map-get($import-keys, $font)
      )...);
  }
}